form('#loginForm'='ngForm' '(ngSubmit)'='onSubmit()')
  p 
    label Email: 
    input(type='text' name='email' required
      '[(ngModel)]'='login.email' '#email'='ngModel'
      pattern='^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$')
  p
    label Password: 
    input(type='password' name='password' required
      '[(ngModel)]'='login.password' '#password'='ngModel'
      pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}')
  p
    button(type='submit' '[disabled]'='!loginForm.form.valid') Login
